.header {
    /* position: fixed;  */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1300;
    flex: auto;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
}
.search-group {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.input-search {
    width: 90%;
}
.btn {
    margin: auto;
}
/* .profile-group {
    direction: rtl;
} */