.header {
    /* position: fixed;  */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1300;
    flex: auto;
    background-color: white; 
    display: flex;
    justify-content: space-between;
    border-bottom: ridge;
}

.input-search {
    width: 90%;
}
.btn {
    margin: auto;
    border-radius: 0;
}
