.doc_card {
    margin: 10px;
}

/* .pop-up {
    
} */

.article {
    /* border: 1px solid #e6e6e6; */
    background: #ffffff;
    /* margin-bottom: 16px; */
    /* [theme.breakpoints.down("xs")]: {
      border: "unset",
      marginBottom: 0
    } */
    /* border: unset; */
    /* margin-bottom: 0px; */
}

.postHeader {
    /* border-bottom: 1px solid rgba(var(--ce3, 239, 239, 239), 1); */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto minmax(auto, 20px);
    grid-gap: 10;
    align-items: center;
    padding: 5px;
}

.moreIcon {
    height: 2px;
    width: 18px;
    justify-self: center;

}

.moreIcon:hover {
    cursor: pointer;
}

.image {
    width: 100%;
}

.postButtons {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 24px 24px 24px minmax(24px, auto);
    grid-gap: 16;
    padding: 6px 0px !important;
}


.commentUsername {
    font-weight: 600 !important;
}


.datePosted {
    font-size: 10px !important;
}



@keyframes like-button-animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes liked-button-animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}


.textField {
    padding: 10px 0px !important;
}

root {
    font-size: 14px !important;
}


underline:before {
    border: none !important;
}

underline:after {
    border: none !important;
}


underline:hover {
    border: none !important
}

underline:before {
    border: none !important
}


.commentContainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto minmax(auto, 56px);
    /* padding: 0px 0px 0px 0px !important; */
}



.moreButton {
    color: #999 !important;
    padding: 0px !important;
}

.moreButton:hover {
    background: transparent !important;
}

.saveIcon {
    justify-self: right;
}


.commentsLink {
    color: #999;
    margin: 5px 0 !important;
}

.collapsed {
    display: flex;
    align-items: center;
}


.expanded {
    display: block;
}

.caption {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
}

.captionWrapper {
    display: flex;
    align-items: center;
    word-break: break-all;
}

.username {
    font-weight: 600 !important;
    margin-right: 5px !important;
}